<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.accplinux.probandobackendless">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/consultoria_rrhh"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:label="@string/app_icon"
        android:logo="@drawable/consultoria_rrhh"
        tools:replace="android:icon,android:label">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/app_menu_principal">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MenuProyectos"
            android:label="@string/app_menu_proyectos"
            android:parentActivityName=".MenuPrincipal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPrincipal" />

            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".MenuEmpleados"
            android:label="@string/app_menu_empleados"
            android:parentActivityName=".MenuPrincipal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPrincipal" />

            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".CrearEmpleado"
            android:label="@string/app_crear_empleado"
            android:parentActivityName=".MenuEmpleados">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".ListarEmpleados"
            android:label="@string/listar_empleados"
            android:parentActivityName=".MenuEmpleados">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".EditEmpleado"
            android:label="@string/edit_empleado">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".NuevoProyecto"
            android:label="@string/crear_proyecto"
            android:parentActivityName=".MenuProyectos">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".ListarProyectos"
            android:label="@string/proyecto_activos"
            android:parentActivityName=".MenuProyectos">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".EditProyecto"
            android:label="@string/editar_proyecto">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".AsignarProyectoEmpleado"
            android:label="@string/asignar_proyecto"
            android:parentActivityName=".ListarProyectos">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".MiCuenta"
            android:label="@string/mi_cuenta">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".MenuInformes"
            android:label="@string/informes">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".ListarAntiguosEmpleados"
            android:label="@string/antiguos"
            android:parentActivityName=".MenuEmpleados">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".ListarAntiguosProyectos"
            android:label="@string/antiguos_proyectos"
            android:parentActivityName=".MenuProyectos">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".ListarProyectosInformes"
            android:label="@string/informes"
            android:parentActivityName=".MenuPrincipal">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity android:name=".MenuInformesDetalles">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity android:name=".GastoProyecto"
            android:label="@string/gastos_proyecto">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity android:name=".MenuAgenda">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
    </application>

</manifest>